$color1: #130000;
$color2: #ba0401;
$color3: #fe0000;
$color4: #8fb17c;

$primary: $color1;
$secondary: $color2;

$theme-colors: (
  'color1': $color1,
  'color2': $color2,
  'color3': $color3,
  'color4': $color4,
  'primary': $primary,
  'secondary': $secondary
);

$light: #f5f5f6;
$dark: #343a40;

$textColorForBg: (
  quad1: $light,
  quad2: $light,
  quad3: $light,
  quad4: $dark,
  primary: $light,
  secondary: $light,
  dark: $light
);
