@import '../../../theme';

#project-preview {
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: #ccc;
  background-image: url('./preview.jpg');
  background-size: cover;
  background-position: center;
  text-align: right;

  h4 {
    height: calc(60vh - 56px);
    min-height: 200px;
    display: inline-block;
    padding: 1rem;
    margin: 0 1rem -6px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: center;
    font-size: 18px;
    background-color: rgba($color1, 0.95);
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
  }

  @media screen and (min-width: 768px) {
    padding: 0;

    h4 {
      min-height: 320px;
      margin: 0 2rem -6px;
      font-size: 30px;
      padding: 1rem 2rem;
    }
  }
}
